<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MapView" /> <!-- android:name="androidx.multidex.MultiDexApplication" -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3JIF85a8ouhfXGe0Qu1UR7acg-7wp9Oo" />

        <activity android:name=".chosingQuantiteForDemande"
            android:screenOrientation="portrait" />
        <activity android:name=".chosingQuantiteForReserve"
            android:screenOrientation="portrait" />
        <activity android:name=".NewAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailsClient"
            android:screenOrientation="portrait"/>
        <activity android:name=".AjouterReservation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AjouterDemande"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemandeClient"
            android:label="@string/title_activity_demande_client"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>